<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketIO Demo</title>
    <script src="https://cdn.bootcss.com/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
    <h1>Hello Ball</h1>

    <script>
        var ROOM_ID = 'room001';
        var timer;
        var socket = io('http://localhost:3000');
        var clientCounts = 0; // 当前客户端在线人数

        socket.on('connect', function () {
            console.log('ball connected');
            socket.emit('ball_enter', { 'chatRoomId': ROOM_ID });
        });
        socket.on('disconnect', function () {
            console.log('ball disconnected');
            clearAll();
        });
        socket.on('ball_enter', function (data) {
            console.log('ball_enter', data);
            if (data.chatRoomId === ROOM_ID) {
                sendData();
            }
        });

        socket.on('client_enter', function (data) {
            if (data.chatRoomId == ROOM_ID) {
                clientCounts++;
                sendData();
            }
        });
        socket.on('client_leave', function (data) {
            console.log('client_leave', data);

            if (ROOM_ID in data) {
                clientCounts--;
                console.log('client left counts:', clientCounts);
                
                if (clientCounts === 0) {
                    clearAll();
                }
            }
        });

        function sendData() {
            if (timer !== undefined) return;
            clearInterval(timer);
            timer = setInterval(function () {
                var payload = {
                    api: 100,
                    deviceSN: 's00001',
                    spo2: [0, 1, 2, 3, 4, 5, 6, 7],
                    pr: [68, 70, 100],
                    time: new Date(),
                    chatRoomId: ROOM_ID,
                };
                console.log(payload);

                socket.emit('BALL_AHI_UPDATE', payload);
            }, 2000);
        }

        function clearAll() {
            clearInterval(timer);
            timer = undefined;
        }
    </script>
</body>

</html>