<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketIO Demo</title>
    <script src="https://cdn.bootcss.com/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
    <h1>Hello User</h1>

    <script>
        var ROOM_ID = 'room001';
        var socket = io('http://localhost:3000/');
        var ballCounts = 0; // 球设备默认唯一，不做计数
        socket.on('connect', function() {
            socket.emit('client_enter', { 'chatRoomId': ROOM_ID, 'role': 'ball' });
        });
        socket.on('ahiUpdate', function (data) {
            console.log(data); // 收到实时数据
        });
        socket.on('ball_enter', function (data) {
            ballCounts++;
            console.log('ball_enter', data, 'ball counts: ', ballCounts);
            socket.emit('client_enter', { 'chatRoomId': ROOM_ID, 'role': 'ball' });
        });
        socket.on('disconnect', function () {
            console.log('user disconnect')
        });

    </script>
</body>

</html>